
@import url('https://fonts.googleapis.com/css?family=Elsie+Swash+Caps');
</style>

/* This is a comment */
/* CSS Syntax:

selector {
  property: value;
  property: value;
}

*/

/* Type Selector */

p { /* select all <p> */
  font-size: 1em; /* px, pt, % or em */
  line-height: 1.5em;
}

figcaption {
  /*font-weight: normal;*/
  /*font-size: 0.7em;*/
  /*line-height: 1.5em;*/
  /*font-family: Georgia, "New Times Roman", serif;*/
  font: normal 0.75em/1.5em Georgia, "New Times Roman", serif;
  color: #777;
  text-align: right;
}